{% extends 'base.html.twig' %}
{% block body %}
    <header class="nav-header">
        <nav class="nav">
            <a class="logo-link" href="/">USED PARTS</a>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class="nav-link" href="../moje-oferty">Moje ogłoszenia</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="../dodaj-ogloszenie/karty-graficzne">Dodaj ogłoszenie</a>
                </li>
                {%if app.user %}
                <li class="nav-list-item">
                    <a class="nav-link" href="../logout">Wyloguj</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
{%  endblock %}